* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #303032;
}

header {
    background-color: #303032;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e14658 5px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #rubrik {
    float: left;
    margin: 0;
}

header nav {
    float: right;
}


#index {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    gap: 40px;
    padding: 60px 0;
}

.text-medium {
    font-size: 2em;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
}

.länkar {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    gap: 40px;
}

.länk {
    grid-column-end: span 4;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-bottom: #e14658 5px solid;
}

.länk:hover {
    transform: translateY(-7px);
}

.länk-bild {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.länk-bild img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.länk-innehåll {
    padding: 20px;
}

#licens {
    color: #ffffff;
    padding-top: 70px;
    padding-left: 70px;
}

.stycke {
    font-size: 1.5em;
    padding-right: 70px;
}

.stycke a{
    color: #e14658;
}

@media only screen and (max-width: 1028px) {
    .länk {
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 768px) {
    header #rubrik, 
    header nav, 
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    main {
        grid-gap: 20px;
    }

    .länk {
        grid-column-end: span 12;
    }
}

@media only screen and (max-width: 500px) {
    #index {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }

    .länkar{
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .länk {
        grid-column-end: span 6;
    }

    #licens {
        margin: auto;
        padding: 0;
        padding-top: 20px;
        text-align: center;
    }

    .stycke {
        padding: 20px;
    }
}