body {
    background-color: #DCDCDC;
}

header {
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: #DCDCDC;
    color: #2F4F4F;
    font-size: 0.9em
}

main {
    padding-top: 10vw;
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto;
}
  
.grid-item {
    background-color: #D3D3D3 ;
    border: 1px solid black;
    padding: 30px;
    font-size: 30px;
    text-align: center;
}

.bild:hover {
    transform: scale(1.1)
}

.bild {
    transition: transform 0.4s;
}